@import "@/styles/mixins.scss";

.headerWrapper {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 3px 20px 5px 20px;
  // mix-blend-mode: difference;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 20px;
  outline: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1;
  font-weight: bold;
  color: white;
}

.linkHeader:nth-child(1) {
  grid-column: 1/5;
}
.linkHeader:nth-child(2) {
  grid-column: 5/7;
  padding-left: 3px;
}
.linkHeader:nth-child(3) {
  grid-column: 7;
  padding-left: 6.5px;
}
.linkHeader:nth-child(4) {
  grid-column: 8/10;
  padding-left: 6.5px;
}
.linkHeader:nth-child(5) {
  grid-column: 12;
  margin-right: 0;
  text-align: right;
}

.ampersan {
  padding-left: 8px;
  text-decoration: none;
  outline: none;
}
