.contact-component {
  display: grid;

  .email {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    @include respond(phone) {
      font-size: 17px;
    }

    .email-p {
      grid-column: 1/3;
    }
    .email-content {
      grid-column: 3/8;
      padding-left: 3px;

      .time {
        display: flex;
        align-items: center;
        grid-column: 8/12;
      }
    }
  }

  .follow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .follow-p {
      grid-column: 1/3;
    }
    .follow-content {
      grid-column: 3/8;
      padding-left: 3px;
    }
  }
}
