.main-image {
  padding: 38px 20px 0px;
  background-color: black;
  min-height: 900px;

  .video-main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    outline-style: none;
  }

  .graphic-design-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    outline-style: none;
  }
}
