@import url("https://use.typekit.net/yjx8ces.css");
@import "./mixins";
@import "./Home.module.scss";
@import "./Footer.module.scss";
@import "./MobileMenu.module.scss";
@import "./Masonry.module.scss";
@import "./CoverImg.module.scss";
@import "./Info.module.scss";
@import "./Header.module.scss";
@import "./HoverComponent.module.scss";
@import "./Contact.scss";
@import "./Awards.module.scss";
@import "./Articles.module.scss";
@import "./Exhibitions.module.scss";
@import "./Press.module.scss";

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  padding: 0;
  margin: 0;
  font-family: "acumin-pro", sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: white;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
  padding: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 20px;

  @include respond(phone) {
    font-size: 18px;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 1fr 1fr 2fr;
  min-height: 100px;
  padding: 0px 20px;
  font-weight: lighter;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  .name {
    font-weight: bold;
  }
  .year-and-tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tag-name {
      margin-right: 8px;

      .tag-link {
        margin-right: 8px;
      }
    }
  }

  .description {
    line-height: 1.4;
  }
}

.img-gallery-wrapper {
  padding: 0px 20px;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  outline-style: none;
}

//MOBILE MENU

.desktop {
  display: block;
  @include respond(phone) {
    display: none;
  }
}
