@import url("https://use.typekit.net/yjx8ces.css");
@import "./mixins";

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  padding: 0;
  margin: 0;
  font-family: "acumin-pro", sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: white;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
  padding: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 20px;

  @include respond(phone) {
    font-size: 18px;
  }
}

.hero {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .img-desktop {
    display: block;

    @include respond(phone) {
      display: none;
    }
  }

  .mobile-carousel-container {
    display: none;

    @include respond(phone) {
      display: block;
      width: 100%;
      height: 100%;
    }

    .mobile-image {
      width: 100%;
      height: 100%;
    }
  }

  .masonry-wrap {
    padding: 38px 20px;
  }

  .masonry-wrap-typeface {
    padding: 38px 20px;
  }
}

.container {
  &:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    font-weight: bold;
  }
  @-webkit-keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}
.grid-container {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 1fr 1fr 2fr;
  min-height: 100px;
  padding: 0px 20px;
  font-weight: lighter;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  .name {
    font-weight: bold;
  }
  .year-and-tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tag-name {
      margin-right: 8px;

      .tag-link {
        margin-right: 8px;
      }
    }
  }

  .description {
    line-height: 1.4;
  }
}

.img-gallery-wrapper {
  padding: 0px 20px;
}

.main-image {
  padding: 38px 20px 0px;
  .video-main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    outline-style: none;
  }

  .graphic-design-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    outline-style: none;
  }
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  outline-style: none;
}

.masonry-item {
  padding: 30px 0px;
  .text {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

// Footer
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3;
  border-top: 1px solid white;
  padding-top: 5px;
  font-size: 16px;
  padding: 10px 20px;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  .copyright {
    grid-column: 1/3;
    grid-row: 1;
    color: white;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 6/13;
    grid-row: 1;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    .twitter {
      text-align: right;
      grid-column: 6;
      grid-row: 1;

      @include respond(phone) {
        grid-column: 2;
        grid-row: 1;
      }
    }
    .linkedin {
      text-align: right;
      grid-column: 5;
      grid-row: 1;

      @include respond(phone) {
        grid-column: 2;
        grid-row: 2;
      }
    }
    .instagram {
      text-align: right;
      grid-column: 4;
      grid-row: 1;

      @include respond(phone) {
        grid-column: 2;
        grid-row: 3;
      }
    }
  }
}

// HOVERIMAGE
.container-media {
  height: 100px;
  padding-left: 20px;

  .media-img {
    width: 290px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    pointer-events: none;

    @include respond(phone) {
      display: none;
    }
  }
}

// INFO PAGE
.wrapper-info {
  line-height: 1.4;

  @include respond(phone) {
    padding: 40px 20px 0px;
  }

  .image {
    padding: 38px 20px;
    width: 100%;
  }

  .mobile-info {
    display: none;

    @include respond(phone) {
      display: block;
      padding: 0px 20px 20px;
    }
  }
  .content-info-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    width: 100%;
    padding: 0px 20px;
    font-size: 20px;

    @include respond(phone) {
      display: none;
    }

    .navigation {
      grid-column: 1/5;
      height: 100%;

      .sticky {
        padding-top: 50px;
        position: sticky;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;

        .header_link {
          border: none;
          background: transparent;
          color: white;
          text-align: left;
          padding-top: 10px;
          font-size: 20px;
          cursor: pointer;
        }
        .selected {
          font-style: normal;
          font-weight: bold;
          color: white;
        }
      }
    }
    .sections-wrapper {
      grid-column: 5/12;
      padding-left: 3px;

      #about,
      #contact,
      #press,
      #awards,
      #articles {
        padding-top: 50px;
      }
    }
  }
}

.hover-title {
  padding-bottom: 20px;
}

//CONTACT
.contact-component {
  display: grid;

  .email {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    @include respond(phone) {
      font-size: 17px;
    }

    .email-p {
      grid-column: 1/3;
    }
    .email-content {
      grid-column: 3/8;
      padding-left: 3px;

      .time {
        display: flex;
        align-items: center;
        grid-column: 8/12;
      }
    }
  }

  .follow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .follow-p {
      grid-column: 1/3;
    }
    .follow-content {
      grid-column: 3/8;
      padding-left: 3px;
    }
  }
}

// HOVER COMPONENT
.hover-component-grid {
  .hover-component-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-bottom: 50px;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }

    .hover-component-year {
      grid-column: 1/2;
    }

    .hover-component-section-description {
      grid-column: 3/8;
      cursor: pointer;
    }

    .hover-component-section-media {
      .media-img {
        width: 240px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
        pointer-events: none;
        grid-column: 7;
        position: absolute;
        display: block;

        @include respond(phone) {
          display: none;
        }
      }
    }
  }
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .articles-year {
    grid-column: 1/2;
  }
  .articles-description {
    grid-column: 3/8;
    cursor: pointer;
  }
}

#exhibitions {
  padding-top: 100px;
}
.exhibitions-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-bottom: 50px;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  .exhibitions-year {
    grid-column: 1/3;
  }
  .exhibitions-title {
    grid-column: 3/8;
  }
  .exhibitions-country {
    grid-column: 9/11;
  }
}

.awards-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-bottom: 20px;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
  .awards-year {
    grid-column: 1/3;
  }
  .awards-title {
    grid-column: 3/8;
  }
  .awards-prize {
    grid-column: 9/11;
  }
}

.press-title {
  padding-bottom: 20px;
}
.press-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-bottom: 20px;
  .press-year {
    grid-column: 1/3;
  }
  .press-title {
    grid-column: 3/8;
  }
}

//MOBILE MENU
.mobile-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .burger-container {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    padding: 10px;
    width: 100%;
    height: auto;
    padding: 37px 8px 0px 20px;
  }

  .burger-container-close {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: fixed;
    padding: 37px 8px 0px 20px;
    height: auto;
    mix-blend-mode: difference;
    color: white;
  }

  .menu {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 60vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .navigation {
      display: flex;
      flex-direction: column;
      top: 15%;
    }
  }

  .ul {
    padding-top: 25px;
    .li-mobile {
      display: none;

      @include respond(phone) {
        display: block;
        border-top: 1px solid white;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
.social-media {
  padding-bottom: 10px;
  a {
    padding-left: 20px;
    text-decoration: underline;
  }
  a:selected {
    color: white;
  }
}

.mobile {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.desktop {
  display: block;
  @include respond(phone) {
    display: none;
  }
}
