.hero {
  height: 100%;
  width: 100%;
  height: 100vh;
}

.mobile-carousel-container {
  display: none;

  @include respond(phone) {
    display: block;
    width: 100%;
    height: 100%;
  }

  .mobile-image {
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: calc(100vh - 100px);
  }
}

.main-wrapper {
  width: 100%;
  position: relative;

  .main-img-background {
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;

    @include respond(phone) {
      display: none;
    }

    .top-img-background {
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      height: 100vh;
      width: 100vw;
    }
  }

  .masonry-wrap {
    padding: 38px 20px;
  }

  .masonry-wrap-typeface {
    padding: 38px 20px;
  }
}
