.press-title {
  padding-bottom: 20px;
}
.press-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-bottom: 20px;
  .press-year {
    grid-column: 1/3;
  }
  .press-title {
    grid-column: 3/8;
  }
}
